body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    /* 使用 Flexbox 排列側邊欄和內容 */
    height: 100vh;
    overflow: hidden;
}

/* 側邊欄樣式 */
nav {
    width: 50px;
    height: 100vh;
    background-color: #2c3e50;
    transition: width 0.4s;
    position: fixed;
    overflow: hidden;
}

/* 側邊欄展開時 */
nav:hover {
    width: 180px;
}

/* 標誌區域 */
nav .logo {
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid #34495e;
}

/* 圖片樣式 */
.sidebar-img {
    width: 110px;
    height: 110px;
    object-fit: contain;
    position: absolute;
    top: 23px;
    right: 32px;
    transform: translate(0, 0);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* 當側邊欄展開時圖片放大 */
nav:hover .sidebar-img {
    transform: scale(1.8);
    opacity: 1;
}

/* 當側邊欄收縮時圖片隱藏 */
.sidebar-img {
    opacity: 0;
    transform: scale(0.4);
}

/* 滾動條樣式 */
.scrollbar {
    overflow-y: auto;
    height: calc(100vh - 100px);
    margin-top: 150px;
}

/* 項目列表樣式 */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    color: white;
    border-bottom: 1px solid #aeb0b3;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-bottom: none;
}

li i {
    margin-right: 10px;
    color: #ecf0f1;

}

/* 項目文字隱藏，側邊欄展開時顯示 */
li span {
    visibility: hidden;
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.5s, visibility 0.5s;
    opacity: 0;
    color: #ecf0f1;
}

nav:hover li span {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s, visibility 0s;
}

/* 側邊欄展開時，圖標移動 */
nav:hover li i {
    margin-right: 15px;
}

li:hover {
    background-color: #34495e;
}

/* 內容區域 */
article {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1200px;
    /* 限制最大寬度 */
    padding: 20px;
    background-color: #ffffff;
    margin-left: 250px;
    /* 確保內容區域在側邊欄右邊 */
    overflow-y: auto;
}



article h1 {
    font-size: 10rem;
    color: #333;
    margin: 0;
    animation: scale-in-ver-center 3s forwards;
    position: relative;
    left: 30vh;
    /* 向右移動 50px */
    top: 30vh;
}

.scale-in-ver-center {
    -webkit-animation: scale-in-ver-center 3s;
    animation: scale-in-ver-center 3s forwards;

}

@-webkit-keyframes scale-in-ver-center {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        opacity: 1;
    }
}

@keyframes scale-in-ver-center {
    0% {
        -webkit-transform: scaleY(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scaleY(1);
        opacity: 1;
    }
}